p
{
    font-size: 14px; /* Paragraphes de 14 pixels */
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    text-align: justify;
    font-weight: bold;
    text-decoration: line-through;
    float: left;
    color: orange;
    box-shadow: 6px 6px 0px green inset;
}
h1
{
    font-size: 40px; /* Titres de 40 pixels */
    color: blue;
}

.introduction
{
    float: left;
    color: yellow;
}


p:hover{
    color: red;
}