p
{
    font-size: 14px; /* Paragraphes de 14 pixels */
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    text-align: justify;
    font-weight: bold;
    float: left;
    color: green;
}
h1
{
    font-size: 40px; /* Titres de 40 pixels */
    color: blue;
}



p:hover{
    color: red;
}