p
{
    font-size: 14px; /* Paragraphes de 14 pixels */
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    text-align: justify;
    font-weight: bold;
    text-decoration: line-through;
    float: left;
    color: orange;
    box-shadow: 6px 6px 0px green inset;
}
h1
{
    font-size: 40px; /* Titres de 40 pixels */
    color: blue;
}

.introduction
{
    float: left;
    color: yellow;
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: red;
   font-style: italic;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: purple;
}

p:hover{
    color: red;
}